</main>
<footer>
    <% if (logueado) { %>
        <p><%= name %>, por consultas o comentarios escribinos a <a href="mailto:info@modoahorro.com">info@modoahorro.com</a></p>
    <% } %>        
    <p>© Copyright 2021 | Modo ahorro</p>
</footer>
</body>
</html>