<header>
    <div>
        <img src="/assets/logo.png" alt="">
    </div>
    <nav>
        <% if (logueado) { %>
            <a class="<%= title.includes('Home') ? 'active' : null %>" href="/">Home</a>
            <a class="<%= title.includes('Balance') ? 'active' : null %>" href="/balance">Balance</a>    
            <a class="<%= title.includes('Salir') ? 'active' : null %>" href="/salir">Salir</a>
        <% } %>        
    </nav>
</header>
<main>