<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
    
        <img class="ico" src="/assets/ico.png" alt="">
        <h4>Hubo un error. Por favor, intentalo de nuevo.</h4>
        <p style="color: gray;"><%= error %></p>
        <a class="volver" href="/balance"><button>VOLVER</button></a>    
        <img src="/assets/modoahorro.png" alt="">      

<%- include('partials/footer.ejs') %>